{% extends 'healthapp/base.html' %} {% block title %}Home - CEMA HIS{% endblock
%} {% block header %}Dashboard{% endblock %} {% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5>Health Programs</h5>
        <p class="display-4">{{ programs_count }}</p>
        <a href="{% url 'program-list' %}" class="btn btn-primary">View</a>
        <a href="{% url 'program-create' %}" class="btn btn-outline-primary"
          >Create</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5>Clients</h5>
        <p class="display-4">{{ clients_count }}</p>
        <a href="{% url 'client-list' %}" class="btn btn-primary">View</a>
        <a href="{% url 'client-create' %}" class="btn btn-outline-primary"
          >Register</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5>Enrollments</h5>
        <p class="display-4">{{ enrollments_count }}</p>
        <a href="{% url 'client-list' %}" class="btn btn-primary">Manage</a>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">About CEMA Health Information System</div>
  <div class="card-body">
    <p>
      This system allows healthcare providers to create programs, register
      clients, and manage enrollments.
    </p>
    <p>API available at <a href="/healthapp/api/">API Endpoints</a></p>
  </div>
</div>
{% endblock %}
